<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.ProjectXMobile"
version = "1.1.1">

<name>[name of my app]</name>
<description>[description of my app]</description>
<author href="[url to my app page]" email="[my email]">[my name]</author>
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<preference name="exit-on-suspend" value="false" />
<preference name="android-installLocation" value="auto" />

</widget>