<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="DBSchoolCom" connectionString="Data Source=.; Initial Catalog=SchoolCommunicator; User ID=sa; password=123;"/>-->
    <add name="DBSchoolCom" connectionString="Data Source=174.36.143.62; Initial Catalog=Communicator; User ID=admin123; password=admin123;"/>
  </connectionStrings>
  <appSettings>
  <add key="ServiceSchool.WebService" value="http://localhost:28741/SchoolCommunicatorMobile/WebService.asmx"/>
  </appSettings>
</configuration>